*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.containerHeader{
  padding-top: 20px;
  padding-left: 20px;
  border-bottom: 1px solid rgba(151, 151, 151, 0.5);
}

.headerLogo{
  height: 24px;
}

.headerLogoText{
  font-size: 22px;
  line-height: 24px;
  padding-left: 4px;
  color: rgb(95, 99, 104);
  vertical-align: top;
}

.navList{
  display: flex;
  list-style: none;
  padding-top: 18px;
}

.navItem{
  font-size: 15px;
  margin-right: 42px;
  padding-bottom: 6px;
  color: rgb(95, 99, 104);
  line-height: 21px;
}

.navItem-selected{
  color: rgb(51, 103, 214);
  border-bottom: 3px solid rgb(51, 103, 214);
}

.mainContianer{
  max-width: 978px;
  margin: auto;
}

.mainContianer h2{
  padding-top: 64px;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.mainContianer p{
  padding-top: 20px;
  font-size: 14px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
  line-height: 24px;
}

p a{
  text-decoration: none;
}